<div class="row">
  <div class="large-12 columns">
    <h1>About</h1>

    <p>Mobile Shop offers you the best service to order your new SIM free mobile phone from 600 different models with a huge selection of colors and keyboards.

As a successful online mobile phone store, we always offer you cheap Smartphones, Android phones, iPhones and all other popular sim free mobile phones. On our website you will find the world's best brands like Samsung, Apple, Nokia, Motorola, Blackberry, LG, Sony, HTC ... and more..</p>
    <p>Our website is updated daily with all new model specifications and news in the mobile industry, presenting you all the details you want and need to know about your favorite mobile phones.</p>
    
  </div>
</div>
